<h1>Privacy</h2>

<p>
Sadly, the Internt was not built with privacy in mind and you have almost none.
Persons interested in redesigning the Internet to include privacy should message the site owner.
</p>
